<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet", href="{{url_for('static', filename='style.css')}}"/>
    <title>My Online CV</title>
</head>

<LINKEDIN_URL>

<body>
    <header>
        <h1>Engr. Olorunfemi Ogunbanwo <i>MNSE</i></h1>
        <address>
            Email: olabowaleogunbanwo@gmail.com
            <br/>
                <img src ="{{url_for('static', filename = 'femi.jpg')}}" />

            <br/>
            LinkedIn: <a href="https://www.linkedin.com/in/olabowale-ogunbanwo-47b45b257/">Profile</a>
        </address>
    </header>
    <main>
        <article id="summary">
            <h2>Professional Summary</h2>
            <p>
                I am a Software Consultant, Author, and Trainer with five years of experience in the Software Industry.
                You
                can contact me for creating engaging software training solutions.
            </p>
        </article>
        <article id="education">
            <h2>Education</h2>
            <ul>
                <li>Executive Program in General Management, IIM-Calcutta, Aug 2022 - present</li>
                <li>Advanced Certification Course in AI and ML, IIIT-Hyderabad, Jan 2020 - May 2020</li>
                <li>Bachelor of Technology, IIT-Kanpur, Aug 2010 - May 2014</li>
            </ul>
        </article>
        <article id="experience">
            <h2>Work Experience</h2>
            <ul>
                <li>Lead Instructor, TalentSprint, Jan 2021 - present</li>
                <li>Software Developer, Amazon, Jan 2020 - Jan 2021</li>
                <li>Software Developer and Trainer, InterviewBit, May 2019 - Dec 2019</li>
            </ul>
        </article>
        <article id="skills">
            <h2>Skills</h2>
            <ul>
                <li>Algorithms: Advanced</li>
                <li>Computational Thinking: Advanced</li>
                <li>Web Development: Intermediate</li>
                <li>Machine Learning: Intermediate</li>
            </ul>
        </article>
<article id="projects">
            <h2>Projects</h2>
            <ul>
                <li><a href="https://www.educative.io/courses/web-development-unraveling-html-css-js">Web Development: Unraveling HTML, CSS, and JavaScript</a> - Created a  course on Educative.</li>
                <li><a href="https://www.educative.io/courses/aws-dynamodb-nosql">DynamoDB Deep Dive</a> - Made an advanced text-based course on Amazon DynamoDB.</li>
                <li>SmartML - Created and taught two batches of an introductory course on Machine Learning.</li>
                <li><a href="https://www.amazon.com.br/Machine-Learning-Imbalanced-Data-imbalanced-ebook/dp/B0C4B5H7GB">Machine Learning for Imbalanced Data</a> - Co-authored a book on machine learning.</li>
            </ul>
        </article>
        <article id="contact">
            <h2>Contact Me</h2>
            <form action="https://formsubmit.co/YOUR-EMAIL-HERE"
          method="POST">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>

                <label for="message">Message:</label>
                <textarea id="message" name="message" required></textarea>

                <button type="submit">Send</button>
            </form>
        </article>
 </main>
</body>

</html>
